<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dbup" version="3.3.5" targetFramework="net461" />
  <package id="dbup-sqlite" version="3.3.5" targetFramework="net461" />
  <package id="PetaPoco.Core" version="5.1.283" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net461" />
  <!--<package id="Telerik.Windows.Controls.for.Wpf" version="2018.1.220" targetFramework="net461" />
  <package id="Telerik.Windows.Controls.for.Wpf.de" version="2018.1.220" targetFramework="net461" />
  <package id="Telerik.Windows.Controls.GridView.for.Wpf" version="2018.1.220" targetFramework="net461" />
  <package id="Telerik.Windows.Controls.Input.for.Wpf" version="2018.1.220" targetFramework="net461" />
  <package id="Telerik.Windows.Controls.Navigation.for.Wpf" version="2018.1.220" targetFramework="net461" />
  <package id="Telerik.Windows.Controls.RibbonView.for.Wpf" version="2018.1.220" targetFramework="net461" />
  <package id="Telerik.Windows.Data.for.Wpf" version="2018.1.220" targetFramework="net461" />
  <package id="Telerik.Windows.Themes.Fluent.for.Wpf" version="2018.1.220" targetFramework="net461" />
  <package id="Telerik.Windows.Themes.Material.for.Wpf" version="2018.1.220" targetFramework="net461" />-->
</packages>